/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightslategray;
    h1,h2,p{
        text-align: center;
    }
    #img-petite{
        margin:0 auto;
        width: 500px;
    
    }
}